@import "normalize","compass/css3";

//Module boitier
.boitier { //Correspond à la "page" c'est également le container.
	border: 1px solid #c0c0c0;
	@include border-radius(20px 20px 60px 20px);
	margin: 10px auto;
	width: 400px;
}

//Layout
//ex: position du game boy dans la fenetre.

//Theme
//ex: couleur du game boy.
.boitier {
	background: lightgray;
}